<div class="navbar">
  <%= link_to "LXS.devblog", root_path, class: "navbar-title" %>
  <div class="navbar-menu">
    <%= link_to "Projets", projects_path, class: "navbar-item" %>
  </div>
  <div class="navbar-login">
    <%= link_to "Login", user_session_path %>
    <%= link_to "Manage", pages_manage_path	 %>
  </div>
</div>
