<div style="margin: auto 0">
    <div class="projects-showcase">
      <h2>Projets</h2>
      <% if @projects.exists? %>
        <% @projects.each do |project| %>
          <%= link_to project do  %>
            <div class="project-card">
              <h3><%= project.name %></h3>
              <%= image_tag "#{project.logo}" %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucun projet n'a été publié pour le moment.</p>
      <% end %>
    </div>
</div>
